body{
    padding: 0px;
    padding-left: 120px; 
    padding-right: 120px;
    border: 0px;
    margin: 0px;
}

.portrait-container{
    display: none;
    display: flex;
    flex-direction: row;
    padding: 60px;

    padding-left: 0px; 
    padding-right: 0px;
}

.header-left{
    flex: 1 1;
    background-color: black;
    width: 700px;
    aspect-ratio: 1 / 1;
}

.header-text-container{
    flex: 1 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.blurb{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-blurb{
    font-size: 20px;
}

.project-container{
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
}

.project{
    width: 240px;
    height: 300px;
    border: 2px solid black;
}